# -------------------------
# OS / editor trash
# -------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# -------------------------
# dependencies
# -------------------------
node_modules/
apps/*/node_modules/

# -------------------------
# builds / artefacts
# -------------------------
dist/
build/
.out/
.next/
coverage/
tmp/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------
# env files (important)
# -------------------------
.env
*.env
*/.env
apps/*/.env
apps/*/*.env

# -------------------------
# prisma
# -------------------------
prisma/dev.db
prisma/dev.db-journal

# -------------------------
# package managers
# -------------------------
.pnpm-store/
.npm/
.yarn/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# -------------------------
# OSRM DATA (large files)
# -------------------------
docker/osrm/data/*.pbf
docker/osrm/data/*.osrm
docker/osrm/data/*.osrm.*
docker/osrm/data/*.hsgr
docker/osrm/data/*.nodes
docker/osrm/data/*.ramIndex
docker/osrm/data/*.fileIndex
docker/osrm/data/*.timestamp
docker/osrm/data/*.edges
docker/osrm/data/*.geometry
docker/osrm/data/*.names
docker/osrm/data/*.icd
docker/osrm/data/*.restrictions
docker/osrm/data/*
!docker/osrm/data/.gitkeep

# -------------------------
# docker volumes / misc
# -------------------------
docker-data/
volumes/
*.tar
